.current-weather {
  gap: var(--spacing-lg);
}

.current-weather-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background-image: url("images/bg-today-small.svg");
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: var(--border-r-lg);
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.current-weather-info {
  gap: var(--spacing-xs);
}

.current-weather-image {
  width: 80px;
}

.current-weather-temperature {
  display: flex;
  align-items: center;
  gap: var(--spacing-lg);
}

.current-weather-units {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: var(--spacing-md);
}

.current-weather-unit-card {
  gap: var(--spacing-md);
}

.current-weather-unit-card-value {
  font-size: 1.2rem;
}
