@import "../variables.css";
@import "button.css";

@layer components {
  .card {
    background-color: var(--neutral-800);
    border-radius: var(--border-r-sm);
  }

  .card-semi {
    background-color: var(--neutral-700);
    border-radius: var(--border-r-sm);
  }

  .title {
    font-family: var(--ff-bricolage-grotesque);
    font-weight: 700;
    color: var(--neutral-0);
  }

  .subtitle {
    font-family: var(--ff-bricolage-grotesque);
    font-weight: 400;
    color: var(--neutral-300);
  }
}
