.unit-dropdown-button {
  display: flex;
  align-items: center;
  gap: 0.6em;
}

.unit-dropdown-menu {
  min-width: 16rem;
  width: max-content;
}

.unit-content-wrapper {
  gap: var(--spacing-xs);
}

.unit-content-button {
  text-align: left;
  width: 100%;
}

.unit-section {
  gap: var(--spacing-xs);

  padding-block: var(--spacing-xs);
  border-bottom: 1px solid var(--neutral-600);
}

.unit-section:last-child {
  border: none;
}

.unit-section-subtitle {
  padding-left: 0.6em;
}

.unit-section-list {
  gap: var(--spacing-xs);
}

.unit-item button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-md);

  text-align: left;
  width: 100%;
}

.unit-item button[data-selected="true"] {
  background-color: var(--neutral-700);
}
