.search-input-container {
  display: flex;
  align-items: center;

  padding-inline: 1em;
}

.search-input {
  flex-grow: 1;

  background: transparent;
  padding: 0.3em;
  outline: none;
}

.search-input::placeholder {
  color: var(--neutral-300);
  font-weight: 500;
}

.search-menu {
  right: 0;
}

.search-content {
  border: 1px solid var(--neutral-600);
}

.search-content-item-button {
  width: 100%;
  text-align: left;
}

.search-content-item-button div {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.search-content-item-button-country-location {
  color: var(--neutral-300);
  font-size: var(--fs-xs);
}

@media (width >= 768px) {
  .search-wrapper {
    flex-direction: row;
  }

  .search-input-container {
    flex-grow: 1;
  }

  .search-menu {
    width: var(--hero-max-width-mobile);
  }
}

@media (width >= 1024px) {
  .search-menu {
    width: var(--hero-max-width-desktop);
  }
}
