.weather-manager-loading {
  align-self: center;

  display: inline-flex;
  order: 0;
  align-items: center;
}

.weather-manager-loading > span {
  order: -1;
}

@media (width >= 1024px) {
  .weather-forecast-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "current-weather current-weather hourly-forecast"
      "current-weather current-weather hourly-forecast"
      "daily-forecast daily-forecast hourly-forecast";

    max-height: 70vh;
  }
}
