.weather-manager-loading {
  align-self: center;

  display: inline-flex;
  align-items: center;
  order: 0;
}

.weather-manager-loading > span {
  order: -1;
}

@media (width >= 1024px) {
  .weather-forecast-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas:
      "current-weather current-weather hourly-forecast"
      "daily-forecast daily-forecast hourly-forecast";

    max-height: 48rem;
    overflow: hidden;
  }
}
