@layer reset, base, components, utilities;

@import "./reset.css" layer(reset);
@import "./variables.css";
@import "./components/index.css" layer(components);
@import "./utilities.css" layer(utilities);

@layer base {
  body {
    background-color: var(--neutral-900);
    color: var(--neutral-200);
    font-family: var(--ff-dm-sans);
  }
}
