@import "./reset.css";
@import "./variables.css";
@import "./components.css";
@import "./utilities.css";

body {
  background-color: var(--neutral-900);
  color: var(--neutral-200);
  font-family: var(--ff-dm-sans);
}
