@layer utilities {
  .flex-col {
    display: flex;
    flex-direction: column;
  }

  .p-block-mobile {
    padding-block: 0.8rem 1rem;
  }

  .tr-200-ease-out {
    transition: 0.2s ease-out;
  }

  .p-card-sm {
    padding: 0.8em 0.9em;
  }

  .p-card-xs {
    padding: 0.6em 0.7em;
  }

  .text-preset-small {
    font-size: var(--fs-sm);
  }
}
