@layer utilities {
  .flex-col {
    display: flex;
    flex-direction: column;
  }

  .p-card-sm {
    padding: 0.8em 0.9em;
  }

  .p-card-xs {
    padding: 0.4em 0.5em;
  }

  .text-preset-sm {
    font-size: var(--fs-sm);
  }

  .text-preset-lg {
    font-size: var(--fs-lg);
  }

  .text-preset-xl {
    font-size: var(--fs-xl);
  }

  .text-preset-2xl {
    font-size: var(--fs-2xl);
  }

  .gap-xs {
    gap: var(--spacing-xs);
  }

  .gap-md {
    gap: var(--spacing-md);
  }

  .gap-lg {
    gap: var(--spacing-lg);
  }
}
