@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --neutral-900: hsl(243, 96%, 9%);
  --neutral-800: hsl(243, 27%, 20%);
  --neutral-700: hsl(243, 23%, 24%);
  --neutral-600: hsl(243, 23%, 30%);
  --neutral-500: hsl(243, 23%, 36%);
  --neutral-300: hsl(240, 6%, 70%);
  --neutral-200: hsl(250, 6%, 84%);
  --neutral-0: hsl(0, 0%, 100%);

  --orange-500: hsl(28, 100%, 52%);

  --blue-500: hsl(233, 67%, 56%);
  --blue-700: hsl(248, 70%, 36%);

  --dark-gray: hsl(240, 6%, 25%);

  --ff-dm-sans: "DM Sans", sans-serif;
  --ff-bricolage-grotesque: "Bricolage Grotesque", sans-serif;

  --border-r-sm: 0.3rem;
  --border-r-lg: 1rem;

  --fs-sm: 0.9rem;
  --fs-lg: 2rem;
  --fs-xl: 3rem;
  --fs-2xl: 4rem;

  --spacing-xs: 0.4rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 2.5rem;
  --spacing-3xl: 3.5rem;

  --hero-max-width-mobile: 600px;
  --hero-max-width-desktop: 900px;
}
