.current-weather-card {
  justify-content: space-evenly;
  align-items: center;

  background: url("images/bg-today-small.svg") no-repeat center / cover;
  border-radius: var(--border-r-lg);
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.current-weather-temperature {
  display: flex;
  align-items: center;
}

.current-weather-image {
  width: 80px;
}

@media (min-width: 1024px) {
  .current-weather-card {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-image: url("images/bg-today-large.svg");
    padding: var(--spacing-lg);
  }

  .current-weather-country {
    text-align: left;
  }
}
