.daily-forecast {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.daily-forecast-card {
  align-items: center;
}

.daily-forecast-image {
  width: 60px;
}

.daily-forecast-temperature {
  align-self: stretch;

  display: flex;
  justify-content: space-between;
}
