.hourly-forecast {
  grid-area: hourly-forecast;
}

.hourly-forecast-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hourly-forecast-content {
  overflow-y: scroll;
}

.hourly-forecast-content::-webkit-scrollbar {
  width: 5px;
}

.hourly-forecast-content::-webkit-scrollbar-thumb {
  background: var(--neutral-600);
  border-radius: 1rem;
}

.hourly-forecast-dropdown-menu {
  border: 1px solid var(--neutral-600);
  min-width: max-content;
  width: 9rem;
}

.hourly-forecast-dropdown-button {
  display: flex;
  align-items: center;

  font-size: var(--fs-sm);
}

.hourly-forecast-dropdown-item-button {
  text-align: left;
  width: 100%;
}

.hourly-forecast-card {
  --card-height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: var(--card-height);
  margin-right: 6px;
}

.hourly-forecast-card-time {
  display: flex;
  align-items: center;
}

.hourly-forecast-card-image {
  width: 30px;
}

@media (width >= 640px) {
  .hourly-forecast-dropdown-button {
    font-size: var(--fs-md);
  }
}

@media (width >= 1024px) {
  .hourly-forecast {
    max-width: 500px;
  }
}
