.weather-main {
  margin-inline: auto;
  padding: 0.8em var(--spacing-md);
  width: 98%;
  min-height: 100dvh;
  max-width: 65rem;
}

@media (width >= 1024px) {
  .weather-main {
    padding-block: var(--spacing-lg);
  }
}
