.weather-main {
  margin-inline: auto;
  max-width: 1300px;
  padding: 0.8em var(--spacing-md);
  width: 98%;
}

@media (width >= 1024px) {
  .weather-main {
    padding-block: var(--spacing-lg);
  }
}
